<div class="container">

   <form class="well form-horizontal" action=" " method="post"  id="contact_form">

<br>
<br>
<br>
<br>
<br>
<!--</bar>-->
<!-- Form Name -->
<legend><center><h2><b>Sign up</b></h2></center></legend><br>
<body background="https://img.freepik.com/premium-photo/mail-boxes-shipping-packaging-background-wallpaper_446063-242.jpg?w=2000">
</body>
<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label"><center>First Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" ><center>Last Name</label> 
 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label"><center>Username</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="user_name" placeholder="Username" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" ><center>Password</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="user_password" placeholder="Password" class="form-control"  type="password">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" ><center>Confirm Password</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="confirm_password" placeholder="Confirm Password" class="form-control"  type="password">
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label"><center>Email</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="@gmail.com" class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label"><center>Contact No.</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="contact_no" placeholder="(xxx)-xxx-xxxx" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Select Basic -->
<center>
    
Address
<br>
 <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>
         Country of Residence:
         
<select class="select">
                      <option value="1">Country</option>
                      <option value="2">America</option>
                      <option value="3">France</option>
                      <option value="4">Russia</option>
                      <option value="5">China</option>
                      <option value="6">India</option>
                      <option value="7">Canada</option>
                    </select>
                    <div class="form-group">


 <label class="col-md-4 control-label"><center>States and City</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="user_name" placeholder="NY, Brooklyn" class="form-control"  type="text">
    </div>
  </div>
</div>

      
  <label class="col-md-4 control-label"><center>Street and Zip Code</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="user_name" placeholder="1001st street, 11200" class="form-control"  type="text">
    </div>
  </div>
</div>
</fieldset>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br> <center> 
    <button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     SUBMIT  <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
  </div>
</div>
<br>
<center> Thank you for choosing FinaMile!
</fieldset>
</form>
</div>
    </div><!-- /.container -->